<h1>Player 1: <%= @name1 %></h1>
<h2>Player 1 HP: 100</h2>
<h1>Player 2: <%= @name2 %></h1>
<h2>Player 2 HP: 100</h2>

<form method='get' action='/attack'>
  <button type='submit'>Attack</button>
</form>
