<h1>Player 1: <%= $player1.name %></h1>
<h2>Player 1 HP: 100</h2>
<h1>Player 2: <%= $player2.name %></h1>
<h2>Player 2 HP: 100</h2>

<form method='get' action='/attack'>
  <button type='submit'>Attack</button>
</form>
